/*  Colours for Syntax Highlighted pre's */
.syntax-highlight {color:white;background-color:black;padding:5px 10px;}
.syntax-highlight > .key {color:#ffbf35}
.syntax-highlight > .string {color:#5dff39;}
.syntax-highlight > .number {color:#70aeff;}
.syntax-highlight > .boolean {color:#b993ff;}

.subheader 
{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    z-index: -1;
    /* position: fixed; */
    left:0; 
    bottom:0; 
    right:0; 
    top:0;
}

.subheader-tabs {
    margin-top: -45px;
    z-index: -8;
}

.subheader-line {
    margin-right: 10px;
}

.table-header {
    font-size: small;
}

.table-commands-cell {
    text-align: center;
}

.table-commands {
    color: #0C738D;
    font-size: medium;
    margin-right: 12px;
}

.table-commands-xl {
    color: #0C738D;
    font-size: xx-large;
    margin-right: 12px;
}

.table-commands:hover {
    color: gray;
}

.user-input {
    margin-left: 5px;
}

.user-input-label {
    margin-top: 10px;
}

.tabbing a {
    color: #0C738D;
}

.page-link {
    color:#0C738D;
}

.page-item.active .page-link {
    background-color: #0C738D;
    border-color: #0C738D;
}

.info-display {
    background-color:white;
}

.filter-commands {
    color: #0C738D;
    font-size: large;
    margin-right: 12px;
}

.filter-label {
    color: #0C738D;
}

.chart-canvas {
    opacity: 0;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
    animation-play-state:running;
}

.reveal {
    opacity: 0;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
    animation-play-state:running;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.landing-page-big{
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
 }

 .landing-page-small{
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
 }

 .landing-page-phone{
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    /* background-image:url('./bg-phone.jpg'); */
 }


 .wiz-links:hover {
    cursor: pointer;
 }



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}